h1, h2, h3, h4, h5, h6,
p, li,
span,
a {
    color: @navy;
    font-family: @font-family-primary;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: @magenta;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

strong {
    font-weight: @f-semibold;
}

.search-block {
    margin-top: 20px;
    padding: 13px 15px;
    width: 100%;
    background-color: #fffee5;

    .input-w {
        position: relative;

        i {
            position: absolute;
            top: 6px; right: 5px;
            color: @navy;
        }
    }

    input[type=text] {
        border: none;
        padding: 5px 22px 5px 6px;
        width: 100%;
        color: @navy;
        #s .typo(16px, 22px);
        font-style: italic;
    }
}