.schoola-blog h1,
.schoola-blog h2,
.schoola-blog h3,
.schoola-blog h4,
.schoola-blog h5,
.schoola-blog h6,
.schoola-blog p,
.schoola-blog li,
.schoola-blog span,
.schoola-blog a {
  color: #18272d;
  font-family: "Proxima Nova W01", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.schoola-blog ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.schoola-blog a {
  color: #e61968;
  text-decoration: underline;
}
.schoola-blog a:hover {
  text-decoration: none;
}
.schoola-blog strong {
  font-weight: 600;
}
.schoola-blog .search-block {
  margin-top: 20px;
  padding: 13px 15px;
  width: 100%;
  background-color: #fffee5;
}
.schoola-blog .search-block .input-w {
  position: relative;
}
.schoola-blog .search-block .input-w i {
  position: absolute;
  top: 6px;
  right: 5px;
  color: #18272d;
}
.schoola-blog .search-block input[type=text] {
  border: none;
  padding: 5px 22px 5px 6px;
  width: 100%;
  color: #18272d;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  font-style: italic;
}
.schoola-blog .s-container {
  margin: 0 auto;
  width: 950px;
}
.schoola-blog .blog-content {
  float: left;
  width: 630px;
}
.schoola-blog .blog-sidebar {
  float: right;
  width: 300px;
}
.schoola-blog footer {
  margin: 100px 0 0;
  padding: 40px 0 0;
  background: transparent url('../img//footer/bg-footer-repeat.jpg') repeat-x center 0;
}
.schoola-blog footer .footer-col-w:before,
.schoola-blog footer .footer-col-w:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.schoola-blog footer .footer-col-w:after {
  clear: both;
}
.schoola-blog footer .footer-col {
  float: left;
  width: 25%;
  text-align: center;
}
.schoola-blog footer .footer-col h5,
.schoola-blog footer .footer-col li a,
.schoola-blog footer .footer-col li span {
  color: #18272d;
  font-size: 14px;
  line-height: 24px;
}
.schoola-blog footer .footer-col h5 {
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
}
.schoola-blog footer .footer-col li a {
  padding: 0 3px;
  border: none;
  font-weight: 100;
  text-decoration: none;
}
.schoola-blog footer .footer-col li a:hover {
  color: #ffffff;
  background-color: #18272d;
}
.schoola-blog footer .footer-col li a.img-link:hover {
  color: #18272d;
  background-color: transparent;
}
.schoola-blog footer .footer-col li a i {
  font-size: 1.3em;
}
.schoola-blog footer .footer-col li span {
  font-weight: 300;
}
.schoola-blog footer .footer-col ul {
  float: none;
}
.schoola-blog footer .footer-col li {
  display: block;
  padding: 0;
}
.schoola-blog footer .norton {
  margin-top: 40px;
  height: 58px;
  background: transparent url('../img//footer/footer-norton.png') no-repeat center 0;
}
.schoola-blog footer .schoola-logo {
  position: relative;
  margin-top: 20px;
  padding-top: 72px;
  background: transparent url('../img//footer/footer-schoola-logo.png') no-repeat center 0;
}
.schoola-blog footer .schoola-logo p {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
.schoola-blog footer .schoola-logo .subscribe-block {
  position: relative;
  top: -190px;
  margin: 0 auto;
  width: 500px;
}
.schoola-blog footer .schoola-logo label.ie {
  font-size: 14px;
}
.schoola-blog footer .schoola-logo .input-w {
  position: relative;
}
.schoola-blog footer .schoola-logo .input-w input[type=text] {
  width: 100%;
  font-size: 14px;
}
.schoola-blog footer .schoola-logo .input-w .btn {
  position: absolute;
  top: 5px;
  right: 4px;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
}
.schoola-blog .bulletin {
  padding: 20px;
  width: 300px;
  height: 400px;
  background-color: #fffee5;
}
.schoola-blog .bulletin h4 {
  margin: 15px 0 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}
.schoola-blog .bulletin p,
.schoola-blog .bulletin li {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
.schoola-blog .bulletin p {
  margin: 0;
}
.schoola-blog .bulletin ul.popular-topics:before,
.schoola-blog .bulletin ul.popular-topics:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.schoola-blog .bulletin ul.popular-topics:after {
  clear: both;
}
.schoola-blog .bulletin ul.popular-topics > li {
  float: left;
  margin-left: 5px;
}
.schoola-blog .bulletin ul.popular-topics > li:first-child {
  margin-left: 0;
}
.schoola-blog .bulletin .split-block:before,
.schoola-blog .bulletin .split-block:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.schoola-blog .bulletin .split-block:after {
  clear: both;
}
.schoola-blog .bulletin .split-block ul {
  float: left;
  width: 45%;
}
.schoola-blog .bulletin .split-block ul:first-child {
  width: 55%;
}
.schoola-blog .bulletin a.wi {
  position: relative;
  display: inline-block;
  margin-left: 21px;
}
.schoola-blog .bulletin a.wi > i {
  position: absolute;
  top: 5px;
  left: -21px;
}
.schoola-blog .module {
  position: relative;
  width: 300px;
  height: 188px;
}
.schoola-blog .module .ribbon {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 6px 10px;
  background-color: #e61968;
}
.schoola-blog .module .ribbon ul:before,
.schoola-blog .module .ribbon ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.schoola-blog .module .ribbon ul:after {
  clear: both;
}
.schoola-blog .module .ribbon ul > li {
  float: left;
  margin-left: 11px;
}
.schoola-blog .module .ribbon ul > li:first-child {
  margin-left: 0;
}
.schoola-blog .module .ribbon a {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  text-decoration: none;
}
.schoola-blog .module .ribbon a:hover {
  text-decoration: none;
}
.schoola-blog .module .meta-block {
  position: absolute;
  left: 0;
  bottom: 12px;
  padding: 6px 15px;
  max-width: 260px;
  background-color: rgba(24, 39, 45, 0.7);
}
.schoola-blog .module .meta-block p {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-transform: uppercase;
}
.schoola-blog .module.big {
  width: 630px;
  height: 400px;
}
.schoola-blog .module.big .ribbon {
  top: 20px;
  padding: 6px 13px;
}
.schoola-blog .module.big .ribbon ul > li {
  margin-left: 13px;
}
.schoola-blog .module.big .ribbon ul > li:first-child {
  margin-left: 0;
}
.schoola-blog .module.big .ribbon a {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
.schoola-blog .module.big .ribbon .fa {
  font-size: 1.25em;
}
.schoola-blog .module.big .meta-block {
  bottom: 0;
  width: 100%;
  max-width: inherit;
  background-color: rgba(255, 255, 255, 0.8);
}
.schoola-blog .module.big .meta-block h1,
.schoola-blog .module.big .meta-block h2 {
  position: absolute;
  top: -30px;
  left: 0;
  margin: 0;
  padding: 5px 15px;
  background-color: #fff200;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}
.schoola-blog .module.big .meta-block p {
  color: #18272d;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-transform: none;
}
.schoola-blog .m-row {
  margin-bottom: 20px;
}
.schoola-blog .m-row:before,
.schoola-blog .m-row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.schoola-blog .m-row:after {
  clear: both;
}
.schoola-blog .m-row > .bulletin {
  float: left;
  margin-left: 20px;
}
.schoola-blog .m-row > .module-rowspan {
  float: left;
}
.schoola-blog .m-row > .module-rowspan > .module:not(:first-child) {
  margin-top: 22px;
}
.schoola-blog .m-row > .module {
  float: left;
  margin-left: 20px;
}
.schoola-blog .m-row > .module:first-child {
  margin-left: 0;
}
.schoola-blog .previous-block {
  margin-top: 35px;
}
.schoola-blog .previous-block h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.schoola-blog .previous-block ul {
  margin: 10px 0;
}
.schoola-blog .previous-block ul li {
  padding: 20px 0 18px;
  background: url(../img/dotted-yellow-lines.png) repeat-x 0 0;
}
.schoola-blog .previous-block h3,
.schoola-blog .previous-block p {
  margin: 0;
  text-align: center;
}
.schoola-blog .previous-block h3 {
  font-family: "adobe-text-pro", "Adobe Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
}
.schoola-blog .previous-block h3 a {
  color: #18272d;
  font-family: inherit;
  text-decoration: none;
}
.schoola-blog .previous-block h3 a:hover {
  color: #e61968;
}
.schoola-blog .previous-block p {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
.schoola-blog .post-tag {
  display: inline-block;
  padding: 8px 13px 7px;
  background-color: #fff200;
  color: #18272d;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-decoration: none;
}
.schoola-blog .block-head {
  background-color: #fff200;
}
.schoola-blog .block-head h1 {
  margin: 0;
  padding: 12px 10px 10px;
  font-size: 40px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
}
.schoola-blog .post-meta {
  padding: 15px;
}
.schoola-blog .post-meta p {
  margin: 0;
  text-align: center;
}
.schoola-blog .post-meta p.post-author {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
}
.schoola-blog .post-meta p.post-date {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.schoola-blog .post-meta-2 {
  margin-top: 30px;
}
.schoola-blog .post-meta-2:before,
.schoola-blog .post-meta-2:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.schoola-blog .post-meta-2:after {
  clear: both;
}
.schoola-blog .post-meta-2 > ul {
  width: 375px;
}
.schoola-blog .post-meta-2 > ul:before,
.schoola-blog .post-meta-2 > ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.schoola-blog .post-meta-2 > ul:after {
  clear: both;
}
.schoola-blog .post-meta-2 > ul > li {
  float: left;
  margin: 0 10px 10px 0;
}
.schoola-blog .post-meta-2 .social-block {
  float: right;
  width: 250px;
}
.schoola-blog .post-body p {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
.schoola-blog .post-body > div:before,
.schoola-blog .post-body .image-l:before,
.schoola-blog .post-body .image-r:before,
.schoola-blog .post-body > div:after,
.schoola-blog .post-body .image-l:after,
.schoola-blog .post-body .image-r:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.schoola-blog .post-body > div:after,
.schoola-blog .post-body .image-l:after,
.schoola-blog .post-body .image-r:after {
  clear: both;
}
.schoola-blog .post-body > div img,
.schoola-blog .post-body .image-l img {
  float: left;
  margin-right: 20px;
}
.schoola-blog .post-body .image-r img {
  float: right;
  margin-left: 20px;
}
